<h1>Medicamentos AINES</h1>

<div>
    <app-tarjetas [imagen]="'https://images.rappi.co.cr/products/19315-1631046248135.png'" [familia]="'AINE'" [usos]="'Fiebre y dolores menores'" [dosis]="'De 20-30mg/kg dividida en 3 dosis'" [efectoAdverso]="'Diarrea, Mareos, Nerviosismo'"></app-tarjetas>
    <app-tarjetas [imagen]="'https://images.rappi.co.cr/products/19315-1631046248135.png'" [familia]="'AINE'" [usos]="'Fiebre y dolores menores'" [dosis]="'De 20-30mg/kg dividida en 3 dosis'" [efectoAdverso]="'Diarrea, Mareos, Nerviosismo'"></app-tarjetas>
    <app-tarjetas [imagen]="'https://images.rappi.co.cr/products/19315-1631046248135.png'" [familia]="'AINE'" [usos]="'Fiebre y dolores menores'" [dosis]="'De 20-30mg/kg dividida en 3 dosis'" [efectoAdverso]="'Diarrea, Mareos, Nerviosismo'"></app-tarjetas>
    <app-tarjetas [imagen]="'https://images.rappi.co.cr/products/19315-1631046248135.png'" [familia]="'AINE'" [usos]="'Fiebre y dolores menores'" [dosis]="'De 20-30mg/kg dividida en 3 dosis'" [efectoAdverso]="'Diarrea, Mareos, Nerviosismo'"></app-tarjetas>
    <app-tarjetas [imagen]="'https://images.rappi.co.cr/products/19315-1631046248135.png'" [familia]="'AINE'" [usos]="'Fiebre y dolores menores'" [dosis]="'De 20-30mg/kg dividida en 3 dosis'" [efectoAdverso]="'Diarrea, Mareos, Nerviosismo'"></app-tarjetas>
    <app-tarjetas [imagen]="'https://images.rappi.co.cr/products/19315-1631046248135.png'" [familia]="'AINE'" [usos]="'Fiebre y dolores menores'" [dosis]="'De 20-30mg/kg dividida en 3 dosis'" [efectoAdverso]="'Diarrea, Mareos, Nerviosismo'"></app-tarjetas>
    <app-tarjetas [imagen]="'https://images.rappi.co.cr/products/19315-1631046248135.png'" [familia]="'AINE'" [usos]="'Fiebre y dolores menores'" [dosis]="'De 20-30mg/kg dividida en 3 dosis'" [efectoAdverso]="'Diarrea, Mareos, Nerviosismo'"></app-tarjetas>
    <app-tarjetas [imagen]="'https://images.rappi.co.cr/products/19315-1631046248135.png'" [familia]="'AINE'" [usos]="'Fiebre y dolores menores'" [dosis]="'De 20-30mg/kg dividida en 3 dosis'" [efectoAdverso]="'Diarrea, Mareos, Nerviosismo'"></app-tarjetas>
    <app-tarjetas [imagen]="'https://images.rappi.co.cr/products/19315-1631046248135.png'" [familia]="'AINE'" [usos]="'Fiebre y dolores menores'" [dosis]="'De 20-30mg/kg dividida en 3 dosis'" [efectoAdverso]="'Diarrea, Mareos, Nerviosismo'"></app-tarjetas>
    <app-tarjetas [imagen]="'https://images.rappi.co.cr/products/19315-1631046248135.png'" [familia]="'AINE'" [usos]="'Fiebre y dolores menores'" [dosis]="'De 20-30mg/kg dividida en 3 dosis'" [efectoAdverso]="'Diarrea, Mareos, Nerviosismo'"></app-tarjetas>
    <app-tarjetas [imagen]="'https://images.rappi.co.cr/products/19315-1631046248135.png'" [familia]="'AINE'" [usos]="'Fiebre y dolores menores'" [dosis]="'De 20-30mg/kg dividida en 3 dosis'" [efectoAdverso]="'Diarrea, Mareos, Nerviosismo'"></app-tarjetas>
    <app-tarjetas [imagen]="'https://images.rappi.co.cr/products/19315-1631046248135.png'" [familia]="'AINE'" [usos]="'Fiebre y dolores menores'" [dosis]="'De 20-30mg/kg dividida en 3 dosis'" [efectoAdverso]="'Diarrea, Mareos, Nerviosismo'"></app-tarjetas>
 
</div>

<h1>Medicamentos</h1>


